---
import Title from '@components/shared/Title.astro';
import PokemonCard from '../components/pokemons/PokemonCard.astro';
import type { PokemonListResponse } from '../interface/pokemon-list.response';
import Layout from '../layouts/Layout.astro';

const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = (await resp.json()) as PokemonListResponse;

const title = 'Pókemon Static | Home'
---

<Layout title={ title }>
	<Title>Listado de Pokémons</Title>
	<section
	aria-label="Listado de Pókemons"
	class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
	>
		{
			data.results.map(( pokemon ) => (
			<PokemonCard 
			name={ pokemon.name }
			url= { pokemon.url }
			/> 
		))
		}
	</section>
	
	
</Layout>
